@use '../../../../styles/mixins';

.root {
  cursor: var(--custom-cursor, pointer);

  display: flex;
  gap: 0.75rem;

  padding: 0.5rem 0.75rem 0.4375rem 0.5rem;
  border-radius: 0.5rem;

  transition: background-color 0.25s ease-out;

  &:hover {
    background-color: var(--color-chat-hover);
  }
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.stars {
  display: flex;
  flex-shrink: 0;
  gap: 0.25rem;
  align-items: center;
}

.amount {
  font-weight: var(--font-weight-medium);
}

.title, .description, .date {
  margin-bottom: 0;
  line-height: 1.25rem;
}

.title {
  font-size: 1rem;
  font-weight: var(--font-weight-semibold);
  line-height: 1.3125rem;
}

.date,
.description {
  font-size: 0.875rem;
}

.date {
  color: var(--color-text-secondary);
}

.positive {
  color: var(--color-success);
}

.negative {
  color: var(--color-error);
}

.preview {
  position: relative;
  width: 2.625rem;
  height: 2.625rem;
}

.subscriptionStar {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;

  @include mixins.filter-outline(1px, var(--color-background));
}

.uniqueGiftBackground {
  position: absolute;
  inset: 0;
  border-radius: 0.25rem;
}

.giftSticker {
  margin: 0.25rem;
}
