@font-face {
  font-family: "icons";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url("./icons.woff2?0ec01f08be54a6cffe9ee7d1ef331226") format("woff2"),
url("./icons.woff?0ec01f08be54a6cffe9ee7d1ef331226") format("woff");
}

.icon-char::before {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  content: attr(data-char);
  width: 1em;
  text-align: center;
  display: block;
}

.icon-placeholder::before {
  content: '';
  display: block;
  width: 1em;
}

.icon-active-sessions::before {
  content: "\f101";
}
.icon-add-one-badge::before {
  content: "\f102";
}
.icon-add-user-filled::before {
  content: "\f103";
}
.icon-add-user::before {
  content: "\f104";
}
.icon-add::before {
  content: "\f105";
}
.icon-admin::before {
  content: "\f106";
}
.icon-allow-speak::before {
  content: "\f107";
}
.icon-animals::before {
  content: "\f108";
}
.icon-animations::before {
  content: "\f109";
}
.icon-archive-filled::before {
  content: "\f10a";
}
.icon-archive-from-main::before {
  content: "\f10b";
}
.icon-archive-to-main::before {
  content: "\f10c";
}
.icon-archive::before {
  content: "\f10d";
}
.icon-arrow-down-circle::before {
  content: "\f10e";
}
.icon-arrow-down::before {
  content: "\f10f";
}
.icon-arrow-left::before {
  content: "\f110";
}
.icon-arrow-right::before {
  content: "\f111";
}
.icon-ask-support::before {
  content: "\f112";
}
.icon-attach::before {
  content: "\f113";
}
.icon-auction-drop::before {
  content: "\f114";
}
.icon-auction-filled::before {
  content: "\f115";
}
.icon-auction-next-round::before {
  content: "\f116";
}
.icon-auction::before {
  content: "\f117";
}
.icon-author-hidden::before {
  content: "\f118";
}
.icon-avatar-archived-chats::before {
  content: "\f119";
}
.icon-avatar-deleted-account::before {
  content: "\f11a";
}
.icon-avatar-saved-messages::before {
  content: "\f11b";
}
.icon-bold::before {
  content: "\f11c";
}
.icon-boost-outline::before {
  content: "\f11d";
}
.icon-boost::before {
  content: "\f11e";
}
.icon-boostcircle::before {
  content: "\f11f";
}
.icon-boosts::before {
  content: "\f120";
}
.icon-bot-command::before {
  content: "\f121";
}
.icon-bot-commands-filled::before {
  content: "\f122";
}
.icon-bots::before {
  content: "\f123";
}
.icon-bug::before {
  content: "\f124";
}
.icon-calendar-filter::before {
  content: "\f125";
}
.icon-calendar::before {
  content: "\f126";
}
.icon-camera-add::before {
  content: "\f127";
}
.icon-camera::before {
  content: "\f128";
}
.icon-car::before {
  content: "\f129";
}
.icon-card::before {
  content: "\f12a";
}
.icon-cash-circle::before {
  content: "\f12b";
}
.icon-channel-filled::before {
  content: "\f12c";
}
.icon-channel::before {
  content: "\f12d";
}
.icon-channelviews::before {
  content: "\f12e";
}
.icon-chat-badge::before {
  content: "\f12f";
}
.icon-chats-badge::before {
  content: "\f130";
}
.icon-check::before {
  content: "\f131";
}
.icon-clock-edit::before {
  content: "\f132";
}
.icon-clock::before {
  content: "\f133";
}
.icon-close-circle::before {
  content: "\f134";
}
.icon-close-topic::before {
  content: "\f135";
}
.icon-close::before {
  content: "\f136";
}
.icon-closed-gift::before {
  content: "\f137";
}
.icon-cloud-download::before {
  content: "\f138";
}
.icon-collapse-modal::before {
  content: "\f139";
}
.icon-collapse::before {
  content: "\f13a";
}
.icon-colorize::before {
  content: "\f13b";
}
.icon-comments-sticker::before {
  content: "\f13c";
}
.icon-comments::before {
  content: "\f13d";
}
.icon-copy-media::before {
  content: "\f13e";
}
.icon-copy::before {
  content: "\f13f";
}
.icon-crown-take-off-outline::before {
  content: "\f140";
}
.icon-crown-take-off::before {
  content: "\f141";
}
.icon-crown-wear-outline::before {
  content: "\f142";
}
.icon-crown-wear::before {
  content: "\f143";
}
.icon-darkmode::before {
  content: "\f144";
}
.icon-data::before {
  content: "\f145";
}
.icon-delete-filled::before {
  content: "\f146";
}
.icon-delete-left::before {
  content: "\f147";
}
.icon-delete-user::before {
  content: "\f148";
}
.icon-delete::before {
  content: "\f149";
}
.icon-diamond::before {
  content: "\f14a";
}
.icon-document::before {
  content: "\f14b";
}
.icon-double-badge::before {
  content: "\f14c";
}
.icon-down::before {
  content: "\f14d";
}
.icon-download::before {
  content: "\f14e";
}
.icon-dropdown-arrows::before {
  content: "\f14f";
}
.icon-eats::before {
  content: "\f150";
}
.icon-edit::before {
  content: "\f151";
}
.icon-email::before {
  content: "\f152";
}
.icon-enter::before {
  content: "\f153";
}
.icon-expand-modal::before {
  content: "\f154";
}
.icon-expand::before {
  content: "\f155";
}
.icon-eye-crossed-outline::before {
  content: "\f156";
}
.icon-eye-crossed::before {
  content: "\f157";
}
.icon-eye-outline::before {
  content: "\f158";
}
.icon-eye::before {
  content: "\f159";
}
.icon-favorite-filled::before {
  content: "\f15a";
}
.icon-favorite::before {
  content: "\f15b";
}
.icon-file-badge::before {
  content: "\f15c";
}
.icon-flag::before {
  content: "\f15d";
}
.icon-folder-badge::before {
  content: "\f15e";
}
.icon-folder-tabs-bot::before {
  content: "\f15f";
}
.icon-folder-tabs-channel::before {
  content: "\f160";
}
.icon-folder-tabs-chat::before {
  content: "\f161";
}
.icon-folder-tabs-chats::before {
  content: "\f162";
}
.icon-folder-tabs-folder::before {
  content: "\f163";
}
.icon-folder-tabs-group::before {
  content: "\f164";
}
.icon-folder-tabs-star::before {
  content: "\f165";
}
.icon-folder-tabs-user::before {
  content: "\f166";
}
.icon-folder::before {
  content: "\f167";
}
.icon-fontsize::before {
  content: "\f168";
}
.icon-forums::before {
  content: "\f169";
}
.icon-forward::before {
  content: "\f16a";
}
.icon-fragment::before {
  content: "\f16b";
}
.icon-frozen-time::before {
  content: "\f16c";
}
.icon-fullscreen::before {
  content: "\f16d";
}
.icon-gifs::before {
  content: "\f16e";
}
.icon-gift-transfer-inline::before {
  content: "\f16f";
}
.icon-gift::before {
  content: "\f170";
}
.icon-group-filled::before {
  content: "\f171";
}
.icon-group::before {
  content: "\f172";
}
.icon-grouped-disable::before {
  content: "\f173";
}
.icon-grouped::before {
  content: "\f174";
}
.icon-hand-stop::before {
  content: "\f175";
}
.icon-hashtag::before {
  content: "\f176";
}
.icon-hd-photo::before {
  content: "\f177";
}
.icon-heart-outline::before {
  content: "\f178";
}
.icon-heart::before {
  content: "\f179";
}
.icon-help::before {
  content: "\f17a";
}
.icon-info-filled::before {
  content: "\f17b";
}
.icon-info::before {
  content: "\f17c";
}
.icon-install::before {
  content: "\f17d";
}
.icon-italic::before {
  content: "\f17e";
}
.icon-key::before {
  content: "\f17f";
}
.icon-keyboard::before {
  content: "\f180";
}
.icon-lamp::before {
  content: "\f181";
}
.icon-language::before {
  content: "\f182";
}
.icon-large-pause::before {
  content: "\f183";
}
.icon-large-play::before {
  content: "\f184";
}
.icon-link-badge::before {
  content: "\f185";
}
.icon-link-broken::before {
  content: "\f186";
}
.icon-link::before {
  content: "\f187";
}
.icon-location::before {
  content: "\f188";
}
.icon-lock-badge::before {
  content: "\f189";
}
.icon-lock::before {
  content: "\f18a";
}
.icon-logout::before {
  content: "\f18b";
}
.icon-loop::before {
  content: "\f18c";
}
.icon-mention::before {
  content: "\f18d";
}
.icon-menu::before {
  content: "\f18e";
}
.icon-message-failed::before {
  content: "\f18f";
}
.icon-message-pending::before {
  content: "\f190";
}
.icon-message-read::before {
  content: "\f191";
}
.icon-message-succeeded::before {
  content: "\f192";
}
.icon-message::before {
  content: "\f193";
}
.icon-microphone-alt::before {
  content: "\f194";
}
.icon-microphone::before {
  content: "\f195";
}
.icon-monospace::before {
  content: "\f196";
}
.icon-more-circle::before {
  content: "\f197";
}
.icon-more::before {
  content: "\f198";
}
.icon-move-caption-down::before {
  content: "\f199";
}
.icon-move-caption-up::before {
  content: "\f19a";
}
.icon-mute::before {
  content: "\f19b";
}
.icon-muted::before {
  content: "\f19c";
}
.icon-my-notes::before {
  content: "\f19d";
}
.icon-new-chat-filled::before {
  content: "\f19e";
}
.icon-next-link::before {
  content: "\f19f";
}
.icon-next::before {
  content: "\f1a0";
}
.icon-nochannel::before {
  content: "\f1a1";
}
.icon-noise-suppression::before {
  content: "\f1a2";
}
.icon-non-contacts::before {
  content: "\f1a3";
}
.icon-note::before {
  content: "\f1a4";
}
.icon-one-filled::before {
  content: "\f1a5";
}
.icon-open-in-new-tab::before {
  content: "\f1a6";
}
.icon-password-off::before {
  content: "\f1a7";
}
.icon-pause::before {
  content: "\f1a8";
}
.icon-permissions::before {
  content: "\f1a9";
}
.icon-phone-discard-outline::before {
  content: "\f1aa";
}
.icon-phone-discard::before {
  content: "\f1ab";
}
.icon-phone::before {
  content: "\f1ac";
}
.icon-photo::before {
  content: "\f1ad";
}
.icon-pin-badge::before {
  content: "\f1ae";
}
.icon-pin-list::before {
  content: "\f1af";
}
.icon-pin::before {
  content: "\f1b0";
}
.icon-pinned-chat::before {
  content: "\f1b1";
}
.icon-pinned-message::before {
  content: "\f1b2";
}
.icon-pip::before {
  content: "\f1b3";
}
.icon-play-story::before {
  content: "\f1b4";
}
.icon-play::before {
  content: "\f1b5";
}
.icon-poll::before {
  content: "\f1b6";
}
.icon-previous::before {
  content: "\f1b7";
}
.icon-privacy-policy::before {
  content: "\f1b8";
}
.icon-proof-of-ownership::before {
  content: "\f1b9";
}
.icon-quote-text::before {
  content: "\f1ba";
}
.icon-quote::before {
  content: "\f1bb";
}
.icon-radial-badge::before {
  content: "\f1bc";
}
.icon-rating-icons-level1::before {
  content: "\f1bd";
}
.icon-rating-icons-level10::before {
  content: "\f1be";
}
.icon-rating-icons-level2::before {
  content: "\f1bf";
}
.icon-rating-icons-level20::before {
  content: "\f1c0";
}
.icon-rating-icons-level3::before {
  content: "\f1c1";
}
.icon-rating-icons-level30::before {
  content: "\f1c2";
}
.icon-rating-icons-level4::before {
  content: "\f1c3";
}
.icon-rating-icons-level40::before {
  content: "\f1c4";
}
.icon-rating-icons-level5::before {
  content: "\f1c5";
}
.icon-rating-icons-level50::before {
  content: "\f1c6";
}
.icon-rating-icons-level6::before {
  content: "\f1c7";
}
.icon-rating-icons-level60::before {
  content: "\f1c8";
}
.icon-rating-icons-level7::before {
  content: "\f1c9";
}
.icon-rating-icons-level70::before {
  content: "\f1ca";
}
.icon-rating-icons-level8::before {
  content: "\f1cb";
}
.icon-rating-icons-level80::before {
  content: "\f1cc";
}
.icon-rating-icons-level9::before {
  content: "\f1cd";
}
.icon-rating-icons-level90::before {
  content: "\f1ce";
}
.icon-rating-icons-negative::before {
  content: "\f1cf";
}
.icon-readchats::before {
  content: "\f1d0";
}
.icon-recent::before {
  content: "\f1d1";
}
.icon-refund::before {
  content: "\f1d2";
}
.icon-reload::before {
  content: "\f1d3";
}
.icon-remove-quote::before {
  content: "\f1d4";
}
.icon-remove::before {
  content: "\f1d5";
}
.icon-reopen-topic::before {
  content: "\f1d6";
}
.icon-reorder-tabs::before {
  content: "\f1d7";
}
.icon-replace::before {
  content: "\f1d8";
}
.icon-replies::before {
  content: "\f1d9";
}
.icon-reply-filled::before {
  content: "\f1da";
}
.icon-reply::before {
  content: "\f1db";
}
.icon-revenue-split::before {
  content: "\f1dc";
}
.icon-revote::before {
  content: "\f1dd";
}
.icon-save-story::before {
  content: "\f1de";
}
.icon-saved-messages::before {
  content: "\f1df";
}
.icon-schedule::before {
  content: "\f1e0";
}
.icon-scheduled::before {
  content: "\f1e1";
}
.icon-sd-photo::before {
  content: "\f1e2";
}
.icon-search::before {
  content: "\f1e3";
}
.icon-select::before {
  content: "\f1e4";
}
.icon-sell-outline::before {
  content: "\f1e5";
}
.icon-sell::before {
  content: "\f1e6";
}
.icon-send-outline::before {
  content: "\f1e7";
}
.icon-send::before {
  content: "\f1e8";
}
.icon-settings-filled::before {
  content: "\f1e9";
}
.icon-settings::before {
  content: "\f1ea";
}
.icon-share-filled::before {
  content: "\f1eb";
}
.icon-share-screen-outlined::before {
  content: "\f1ec";
}
.icon-share-screen-stop::before {
  content: "\f1ed";
}
.icon-share-screen::before {
  content: "\f1ee";
}
.icon-show-message::before {
  content: "\f1ef";
}
.icon-sidebar::before {
  content: "\f1f0";
}
.icon-skip-next::before {
  content: "\f1f1";
}
.icon-skip-previous::before {
  content: "\f1f2";
}
.icon-smallscreen::before {
  content: "\f1f3";
}
.icon-smile::before {
  content: "\f1f4";
}
.icon-sort-by-date::before {
  content: "\f1f5";
}
.icon-sort-by-number::before {
  content: "\f1f6";
}
.icon-sort-by-price::before {
  content: "\f1f7";
}
.icon-sort::before {
  content: "\f1f8";
}
.icon-speaker-muted-story::before {
  content: "\f1f9";
}
.icon-speaker-outline::before {
  content: "\f1fa";
}
.icon-speaker-story::before {
  content: "\f1fb";
}
.icon-speaker::before {
  content: "\f1fc";
}
.icon-spoiler-disable::before {
  content: "\f1fd";
}
.icon-spoiler::before {
  content: "\f1fe";
}
.icon-sport::before {
  content: "\f1ff";
}
.icon-star::before {
  content: "\f200";
}
.icon-stars-lock::before {
  content: "\f201";
}
.icon-stars-refund::before {
  content: "\f202";
}
.icon-stats::before {
  content: "\f203";
}
.icon-stealth-future::before {
  content: "\f204";
}
.icon-stealth-past::before {
  content: "\f205";
}
.icon-stickers::before {
  content: "\f206";
}
.icon-stop-raising-hand::before {
  content: "\f207";
}
.icon-stop::before {
  content: "\f208";
}
.icon-story-caption::before {
  content: "\f209";
}
.icon-story-expired::before {
  content: "\f20a";
}
.icon-story-priority::before {
  content: "\f20b";
}
.icon-story-reply::before {
  content: "\f20c";
}
.icon-strikethrough::before {
  content: "\f20d";
}
.icon-tag-add::before {
  content: "\f20e";
}
.icon-tag-crossed::before {
  content: "\f20f";
}
.icon-tag-filter::before {
  content: "\f210";
}
.icon-tag-name::before {
  content: "\f211";
}
.icon-tag::before {
  content: "\f212";
}
.icon-timer::before {
  content: "\f213";
}
.icon-toncoin::before {
  content: "\f214";
}
.icon-tools::before {
  content: "\f215";
}
.icon-topic-new::before {
  content: "\f216";
}
.icon-trade::before {
  content: "\f217";
}
.icon-transcribe::before {
  content: "\f218";
}
.icon-truck::before {
  content: "\f219";
}
.icon-unarchive::before {
  content: "\f21a";
}
.icon-underlined::before {
  content: "\f21b";
}
.icon-understood::before {
  content: "\f21c";
}
.icon-unique-profile::before {
  content: "\f21d";
}
.icon-unlist-outline::before {
  content: "\f21e";
}
.icon-unlist::before {
  content: "\f21f";
}
.icon-unlock-badge::before {
  content: "\f220";
}
.icon-unlock::before {
  content: "\f221";
}
.icon-unmute::before {
  content: "\f222";
}
.icon-unpin::before {
  content: "\f223";
}
.icon-unread::before {
  content: "\f224";
}
.icon-up::before {
  content: "\f225";
}
.icon-user-filled::before {
  content: "\f226";
}
.icon-user-online::before {
  content: "\f227";
}
.icon-user-stars::before {
  content: "\f228";
}
.icon-user::before {
  content: "\f229";
}
.icon-video-outlined::before {
  content: "\f22a";
}
.icon-video-stop::before {
  content: "\f22b";
}
.icon-video::before {
  content: "\f22c";
}
.icon-view-once::before {
  content: "\f22d";
}
.icon-voice-chat::before {
  content: "\f22e";
}
.icon-volume-1::before {
  content: "\f22f";
}
.icon-volume-2::before {
  content: "\f230";
}
.icon-volume-3::before {
  content: "\f231";
}
.icon-warning::before {
  content: "\f232";
}
.icon-web::before {
  content: "\f233";
}
.icon-webapp::before {
  content: "\f234";
}
.icon-word-wrap::before {
  content: "\f235";
}
.icon-zoom-in::before {
  content: "\f236";
}
.icon-zoom-out::before {
  content: "\f237";
}
