@use "sass:map";

@mixin icon {
  /* !important to prevent issues with browser extensions that change fonts */
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icons-map: (
  "active-sessions": "\f101",
  "add-one-badge": "\f102",
  "add-user-filled": "\f103",
  "add-user": "\f104",
  "add": "\f105",
  "admin": "\f106",
  "allow-speak": "\f107",
  "animals": "\f108",
  "animations": "\f109",
  "archive-filled": "\f10a",
  "archive-from-main": "\f10b",
  "archive-to-main": "\f10c",
  "archive": "\f10d",
  "arrow-down-circle": "\f10e",
  "arrow-down": "\f10f",
  "arrow-left": "\f110",
  "arrow-right": "\f111",
  "ask-support": "\f112",
  "attach": "\f113",
  "auction-drop": "\f114",
  "auction-filled": "\f115",
  "auction-next-round": "\f116",
  "auction": "\f117",
  "author-hidden": "\f118",
  "avatar-archived-chats": "\f119",
  "avatar-deleted-account": "\f11a",
  "avatar-saved-messages": "\f11b",
  "bold": "\f11c",
  "boost-outline": "\f11d",
  "boost": "\f11e",
  "boostcircle": "\f11f",
  "boosts": "\f120",
  "bot-command": "\f121",
  "bot-commands-filled": "\f122",
  "bots": "\f123",
  "bug": "\f124",
  "calendar-filter": "\f125",
  "calendar": "\f126",
  "camera-add": "\f127",
  "camera": "\f128",
  "car": "\f129",
  "card": "\f12a",
  "cash-circle": "\f12b",
  "channel-filled": "\f12c",
  "channel": "\f12d",
  "channelviews": "\f12e",
  "chat-badge": "\f12f",
  "chats-badge": "\f130",
  "check": "\f131",
  "clock-edit": "\f132",
  "clock": "\f133",
  "close-circle": "\f134",
  "close-topic": "\f135",
  "close": "\f136",
  "closed-gift": "\f137",
  "cloud-download": "\f138",
  "collapse-modal": "\f139",
  "collapse": "\f13a",
  "colorize": "\f13b",
  "comments-sticker": "\f13c",
  "comments": "\f13d",
  "copy-media": "\f13e",
  "copy": "\f13f",
  "crown-take-off-outline": "\f140",
  "crown-take-off": "\f141",
  "crown-wear-outline": "\f142",
  "crown-wear": "\f143",
  "darkmode": "\f144",
  "data": "\f145",
  "delete-filled": "\f146",
  "delete-left": "\f147",
  "delete-user": "\f148",
  "delete": "\f149",
  "diamond": "\f14a",
  "document": "\f14b",
  "double-badge": "\f14c",
  "down": "\f14d",
  "download": "\f14e",
  "dropdown-arrows": "\f14f",
  "eats": "\f150",
  "edit": "\f151",
  "email": "\f152",
  "enter": "\f153",
  "expand-modal": "\f154",
  "expand": "\f155",
  "eye-crossed-outline": "\f156",
  "eye-crossed": "\f157",
  "eye-outline": "\f158",
  "eye": "\f159",
  "favorite-filled": "\f15a",
  "favorite": "\f15b",
  "file-badge": "\f15c",
  "flag": "\f15d",
  "folder-badge": "\f15e",
  "folder-tabs-bot": "\f15f",
  "folder-tabs-channel": "\f160",
  "folder-tabs-chat": "\f161",
  "folder-tabs-chats": "\f162",
  "folder-tabs-folder": "\f163",
  "folder-tabs-group": "\f164",
  "folder-tabs-star": "\f165",
  "folder-tabs-user": "\f166",
  "folder": "\f167",
  "fontsize": "\f168",
  "forums": "\f169",
  "forward": "\f16a",
  "fragment": "\f16b",
  "frozen-time": "\f16c",
  "fullscreen": "\f16d",
  "gifs": "\f16e",
  "gift-transfer-inline": "\f16f",
  "gift": "\f170",
  "group-filled": "\f171",
  "group": "\f172",
  "grouped-disable": "\f173",
  "grouped": "\f174",
  "hand-stop": "\f175",
  "hashtag": "\f176",
  "hd-photo": "\f177",
  "heart-outline": "\f178",
  "heart": "\f179",
  "help": "\f17a",
  "info-filled": "\f17b",
  "info": "\f17c",
  "install": "\f17d",
  "italic": "\f17e",
  "key": "\f17f",
  "keyboard": "\f180",
  "lamp": "\f181",
  "language": "\f182",
  "large-pause": "\f183",
  "large-play": "\f184",
  "link-badge": "\f185",
  "link-broken": "\f186",
  "link": "\f187",
  "location": "\f188",
  "lock-badge": "\f189",
  "lock": "\f18a",
  "logout": "\f18b",
  "loop": "\f18c",
  "mention": "\f18d",
  "menu": "\f18e",
  "message-failed": "\f18f",
  "message-pending": "\f190",
  "message-read": "\f191",
  "message-succeeded": "\f192",
  "message": "\f193",
  "microphone-alt": "\f194",
  "microphone": "\f195",
  "monospace": "\f196",
  "more-circle": "\f197",
  "more": "\f198",
  "move-caption-down": "\f199",
  "move-caption-up": "\f19a",
  "mute": "\f19b",
  "muted": "\f19c",
  "my-notes": "\f19d",
  "new-chat-filled": "\f19e",
  "next-link": "\f19f",
  "next": "\f1a0",
  "nochannel": "\f1a1",
  "noise-suppression": "\f1a2",
  "non-contacts": "\f1a3",
  "note": "\f1a4",
  "one-filled": "\f1a5",
  "open-in-new-tab": "\f1a6",
  "password-off": "\f1a7",
  "pause": "\f1a8",
  "permissions": "\f1a9",
  "phone-discard-outline": "\f1aa",
  "phone-discard": "\f1ab",
  "phone": "\f1ac",
  "photo": "\f1ad",
  "pin-badge": "\f1ae",
  "pin-list": "\f1af",
  "pin": "\f1b0",
  "pinned-chat": "\f1b1",
  "pinned-message": "\f1b2",
  "pip": "\f1b3",
  "play-story": "\f1b4",
  "play": "\f1b5",
  "poll": "\f1b6",
  "previous": "\f1b7",
  "privacy-policy": "\f1b8",
  "proof-of-ownership": "\f1b9",
  "quote-text": "\f1ba",
  "quote": "\f1bb",
  "radial-badge": "\f1bc",
  "rating-icons-level1": "\f1bd",
  "rating-icons-level10": "\f1be",
  "rating-icons-level2": "\f1bf",
  "rating-icons-level20": "\f1c0",
  "rating-icons-level3": "\f1c1",
  "rating-icons-level30": "\f1c2",
  "rating-icons-level4": "\f1c3",
  "rating-icons-level40": "\f1c4",
  "rating-icons-level5": "\f1c5",
  "rating-icons-level50": "\f1c6",
  "rating-icons-level6": "\f1c7",
  "rating-icons-level60": "\f1c8",
  "rating-icons-level7": "\f1c9",
  "rating-icons-level70": "\f1ca",
  "rating-icons-level8": "\f1cb",
  "rating-icons-level80": "\f1cc",
  "rating-icons-level9": "\f1cd",
  "rating-icons-level90": "\f1ce",
  "rating-icons-negative": "\f1cf",
  "readchats": "\f1d0",
  "recent": "\f1d1",
  "refund": "\f1d2",
  "reload": "\f1d3",
  "remove-quote": "\f1d4",
  "remove": "\f1d5",
  "reopen-topic": "\f1d6",
  "reorder-tabs": "\f1d7",
  "replace": "\f1d8",
  "replies": "\f1d9",
  "reply-filled": "\f1da",
  "reply": "\f1db",
  "revenue-split": "\f1dc",
  "revote": "\f1dd",
  "save-story": "\f1de",
  "saved-messages": "\f1df",
  "schedule": "\f1e0",
  "scheduled": "\f1e1",
  "sd-photo": "\f1e2",
  "search": "\f1e3",
  "select": "\f1e4",
  "sell-outline": "\f1e5",
  "sell": "\f1e6",
  "send-outline": "\f1e7",
  "send": "\f1e8",
  "settings-filled": "\f1e9",
  "settings": "\f1ea",
  "share-filled": "\f1eb",
  "share-screen-outlined": "\f1ec",
  "share-screen-stop": "\f1ed",
  "share-screen": "\f1ee",
  "show-message": "\f1ef",
  "sidebar": "\f1f0",
  "skip-next": "\f1f1",
  "skip-previous": "\f1f2",
  "smallscreen": "\f1f3",
  "smile": "\f1f4",
  "sort-by-date": "\f1f5",
  "sort-by-number": "\f1f6",
  "sort-by-price": "\f1f7",
  "sort": "\f1f8",
  "speaker-muted-story": "\f1f9",
  "speaker-outline": "\f1fa",
  "speaker-story": "\f1fb",
  "speaker": "\f1fc",
  "spoiler-disable": "\f1fd",
  "spoiler": "\f1fe",
  "sport": "\f1ff",
  "star": "\f200",
  "stars-lock": "\f201",
  "stars-refund": "\f202",
  "stats": "\f203",
  "stealth-future": "\f204",
  "stealth-past": "\f205",
  "stickers": "\f206",
  "stop-raising-hand": "\f207",
  "stop": "\f208",
  "story-caption": "\f209",
  "story-expired": "\f20a",
  "story-priority": "\f20b",
  "story-reply": "\f20c",
  "strikethrough": "\f20d",
  "tag-add": "\f20e",
  "tag-crossed": "\f20f",
  "tag-filter": "\f210",
  "tag-name": "\f211",
  "tag": "\f212",
  "timer": "\f213",
  "toncoin": "\f214",
  "tools": "\f215",
  "topic-new": "\f216",
  "trade": "\f217",
  "transcribe": "\f218",
  "truck": "\f219",
  "unarchive": "\f21a",
  "underlined": "\f21b",
  "understood": "\f21c",
  "unique-profile": "\f21d",
  "unlist-outline": "\f21e",
  "unlist": "\f21f",
  "unlock-badge": "\f220",
  "unlock": "\f221",
  "unmute": "\f222",
  "unpin": "\f223",
  "unread": "\f224",
  "up": "\f225",
  "user-filled": "\f226",
  "user-online": "\f227",
  "user-stars": "\f228",
  "user": "\f229",
  "video-outlined": "\f22a",
  "video-stop": "\f22b",
  "video": "\f22c",
  "view-once": "\f22d",
  "voice-chat": "\f22e",
  "volume-1": "\f22f",
  "volume-2": "\f230",
  "volume-3": "\f231",
  "warning": "\f232",
  "web": "\f233",
  "webapp": "\f234",
  "word-wrap": "\f235",
  "zoom-in": "\f236",
  "zoom-out": "\f237",
);
