.root {
  position: relative;
  display: block !important;
  width: var(--_size);
  height: var(--_size);
}

.interactive {
  cursor: pointer;
}

.sticker {
  position: absolute;
  inset: 0;
}

.hidden {
  visibility: hidden;
}
