.root {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content 1fr;
}

.title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.subtitle {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.closeIcon {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  place-self: center;

  padding: 0.125rem;
  border-radius: 50%;

  color: var(--color-text-secondary);

  &:hover {
    background-color: var(--color-interactive-element-hover);
  }
}
